
@CHARSET "UTF-8";

:root {
     --accents: #71bfff;
     --primary: #0e0e0e;
 }

 * {
     font-family: 'Montserrat';
 }

 .container {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .center {
    width: 180px;
    height: 60px;
    position: absolute;
  }

  .btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #ffffff;
    outline: none;
    transition: 1s ease-in-out;
    background-color: orangered;
  }

  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }

  .btn:hover {
    transition: 1s ease-in-out;
    background: #000000;
  }

  .btn:hover svg {
    stroke-dashoffset: -480;
  }

  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 200;
  }

 .material-icons {
     font-family: 'Material Icons';
     font-weight: normal;
     font-style: normal;
     font-size: 24px;
     /* Preferred icon size */
     display: inline-block;
     line-height: 1;
     text-transform: none;
     letter-spacing: normal;
     word-wrap: normal;
     white-space: nowrap;
     direction: ltr;
     color: rgb(0, 0, 0);
     /* Support for all WebKit browsers. */
     -webkit-font-smoothing: antialiased;
     /* Support for Safari and Chrome. */
     text-rendering: optimizeLegibility;
     /* Support for Firefox. */
     -moz-osx-font-smoothing: grayscale;
     /* Support for IE. */
     font-feature-settings: 'liga';
 }

 .AddItemBtn {
     display: flex;
     justify-content: center;
     place-items: center;
     border-radius: 100%;
     background-color: var(--accents);
     align-items: center;
     width: 50px;
     height: 50px;
     border: 2px solid rgb(255, 255, 255);
 }



 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background-color: #F4F4F4;
     font-family: "Montserrat";
     height: 100vh;
 }



 .navSec {
     padding: 10px;
     background-color: #FFFFFF;
 }

 .nav {
     display: flex;
     justify-content: space-between;
     padding: 10px;
 }


 .navLogo {
     text-decoration: none;
     color: black;
     font-family: 'Milonga';
     font-size: 20px;
 }

 .divCenetered {
     display: flex;
     justify-content: center;
     place-items: center;
     padding: 3rem;
 }

 .divCards {
     padding: 2rem;
     display: flex;
     flex-grow: 1;
     flex: wrap;
     justify-content: space-between;
 }

 .card {
     padding: 1rem;
     max-width: 33%;
 }

 @media screen and (max-width:800px) {

     .divCenetered {
         display: flex;
         justify-content: center;
         place-items: center;
         padding: 3rem;

     }

     .divCards {
         padding: 2rem;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
     }

     .card {
         padding: 1rem;
         max-width: 33%;
     }
 }


 .viewMain {
     display: grid;
     grid-template-rows: 55% 1fr 2fr;
     margin: 0;
     height: 100vh;
 }

 .viewimg {
     height: 100%;
     width: 100%;
 }




 .viewInfo {
     background-color: black;
     margin: 0;
     padding: 0.5rem;
 }

 .line {
     height: 5px;
     background-color: var(--accents);
     bottom: 0;
     margin: 0px;
     left: 0px;
     width: 100%;
     border: none;
     position: relative;
 }

 a {
     text-decoration: none;
 }


 .viewBtn {
     display: flex;
     justify-content: center;
     place-items: center;
     border-radius: 100%;
     background-color: var(--accents);
     width: 50px;
     height: 50px;
     margin-bottom: 2rem;
     z-index: 30;
     border: 4px solid rgb(235, 235, 235);
     text-decoration: none;
     box-shadow: black;
 }

 .navSec {
     padding: 10px;
     background-color: #ffffff;
     width: 100%;
     position: fixed;
     top: 0;
 }

 .nav {
     display: flex;
     justify-content: space-evenly;
     padding: 10px;
 }


 .button {
     display: flex;
     justify-content: center;
 }

 .BBinputDivLarge {
     margin: 0.5rem 10px;
 }

 .BBinputDiv {
    margin: 0.5rem 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
 }

 .BBinputHeader {
     margin: 10px;
     color: black;
     font-size: 20px;
 }

 .BBinput {
     margin: 2rem 0;
     background-color: rgb(255, 255, 255);
     color: black;
     border-bottom: 7px solid black;
     padding: 5px;
     width: 100%;
 }

 .BBTextArea {
     border-bottom: 7px solid black;
     width: 100%;
 }

 .BBhr {
     height: 20px;
     background-color: black;
 }

 .BBtn {
     border-radius: 50%;
     border: none;
     height: 50px;
     width: 50px;
     color: white;
     background-color: var(--accents);
     display: flex;
     justify-content: center;
     place-items: center;
     place-content: center;
 }

 .BBinputDivLarge {
     margin: 20px 0;
 }

 .navA {
     font-size: 10px;
 }

 body {
     background-color: #f4f4f4;
     font-family: 'Montserrat';
     color: black;
     height: 100vh;
 }

 .navSec {
     padding: 10px;
     background-color: #ffffff;
     position: fixed;
     z-index: 1000;
     left: 0;
 }

 .TopImage {
    height: 500px;
    width: 100%;
    background-image: url('../images/1 (10).jpg');
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-rows: 80% 1fr;
 }

 .TopImage div:nth-child(1){
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }

 
 .TopImage div:nth-child(2){
    display: flex;
    justify-content: end;
    align-items: center;
}


 .TopImage h2{
     font-weight: 200;
     color:white;
     font-size: 5em;
 }
 
 .TopImage h3{
    font-weight: bold;
    color:white;
    font-size: 1em;
}

 h1,
 h2,
 h3,
 h4,
 h5 {
     font-family: "Montserrat";
 }


 .navSec {
     padding: 10px;
     background-color: #FFFFFF;
     position: fixed;
     z-index: 1000;
     left: 0;
     top: 0;
     width: 100%;
 }

 .nav {
     display: flex;
     justify-content: space-between;
     padding: 10px;
 }


 .navLogo {
     text-decoration: none;
     color: black;
     font-family: 'Milonga';
     font-size: 20px;
 }

 #Cards {
     flex-wrap: wrap;
 }

 @media screen and (min-width:600px) {
     #Cards {
         flex-direction: row !important;
         justify-content: space-between;
     }
 }




 .Upload {
     text-decoration: none;
     border-radius: 50%;
     border: none;
     height: 50px;
     width: 50px;
     color: white;
     background-color: var(--accents);
     display: flex;
     justify-content: center;
     place-items: center;
     place-content: center;
     margin-right: 2rem;
     margin-bottom: 2rem;
 }


 .navSec {
     padding: 10px;
     background-color: #FFFFFF;
     position: fixed;
     z-index: 1000;
     left: 0;
     top: 0;
     width: 100%;
 }

 .secMain {
     margin: 5rem auto auto auto;
     padding: 1rem;
     text-align: center;
     display: flex;
     width: 100%;
     justify-content: center;
     flex-direction: column;
 }

 .why {
     height: 360px;
     padding-bottom: 3rem;
     text-align: start;
     word-wrap: break-word;
 }




 @media screen and (min-width:500px) {

     .secMain {
         margin: 1rem auto;
     }
 }

 .floatLeft {
     float: left;
 }

 .floatRight {
     float: right;
 }

 .Item {
     width: 80vw;
     background-color: black;
     margin: 3rem auto;
 }

